body {
  font-family: Arial, sans-serif;
  background:#f2f2f2;
  margin:0;
}

.app {
  max-width:420px;
  margin:auto;
  background:white;
  padding:15px;
  min-height:100vh;
}

input, select, button {
  width:100%;
  padding:10px;
  margin:6px 0;
}

button {
  background:#4CAF50;
  color:white;
  border:none;
  font-size:16px;
}

li {
  border-bottom:1px solid #ddd;
  padding:10px;
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.book-info {
  font-size:14px;
}

.delete {
  background:#e53935;
  color:white;
  border:none;
  padding:6px 10px;
}
